In [1]:
# Se realiza la importación de librerías:
import pandas as pd

In [2]:
# Se abre el archivo:
with open("Bases_datos/homicidios.xlsx", 'rb') as f:
    data = pd.read_excel(f)

In [3]:
# Muestra de la data:
data.head(5)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [4]:
# Verificar los nulos de cada columna, por la info y tipo de dato:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [5]:
# Eliminar columnas en dataset
col_to_drop = ["XY (CABA)", "LUGAR_DEL_HECHO", "TIPO_DE_CALLE", "Calle", "Altura", "Cruce"]
data.drop(columns=col_to_drop, inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   Dirección Normalizada  688 non-null    object
 9   COMUNA                 696 non-null    int64
 10  pos x                  696 non-null    object
 11  pos y                  696 non-null    object
 12  PARTICIPANTES          696 non-null    object
 13  VICTIMA                696 non-null    object
 14  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), int64(5), object(9)
memory usage: 81.7+ KB

In [12]:
# Replace column names
data.columns = data.columns.str.replace("ID", "Id_Fecha")
data.columns = data.columns.str.replace("N_VICTIMAS", "Num_Victs")
data.columns = data.columns.str.replace("FECHA", "Fecha")
data.columns = data.columns.str.replace("AAAA", "Agno")
data.columns = data.columns.str.replace("AAAA", "Agno") 
data.columns = data.columns.str.replace("MM", "Mes")
data.columns = data.columns.str.replace("DD", "Dia") 
data.columns = data.columns.str.replace("HORA", "Hora") 
data.columns = data.columns.str.replace("HH", "Horario") 
data.columns = data.columns.str.replace("Dirección Normalizada", "Direccion")
data.columns = data.columns.str.replace("COMUNA", "Comuna")
data.columns = data.columns.str.replace("PARTICIPANTES", "Participantes")
data.columns = data.columns.str.replace("VICTIMA", "Victima")
data.columns = data.columns.str.replace("ACUSADO", "Acusado")

In [8]:
# Guardar el df en formato CSV para proceder al EDA:
data.to_csv('Accid.csv', index=False)