In [29]:
# Se realiza la importación de librerías:
import pandas as pd

In [31]:
# Se abre el archivo:
with open("Bases_datos\Victimas.xlsx", 'rb') as f:
    data_vic = pd.read_excel(f)

In [32]:
# Muestra de la data:
data_vic.head(5)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [33]:
# Verificar los nulos de cada columna, por la info y tipo de dato:
data_vic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [34]:
# Replace column names
data_vic.columns = data_vic.columns.str.replace("ID_hecho", "Id_Fecha")
data_vic.columns = data_vic.columns.str.replace("FECHA", "Fecha")
data_vic.columns = data_vic.columns.str.replace("AAAA", "Agno")
data_vic.columns = data_vic.columns.str.replace("MM", "Mes")
data_vic.columns = data_vic.columns.str.replace("DD", "Dia")
data_vic.columns = data_vic.columns.str.replace("ROL", "Rol")
data_vic.columns = data_vic.columns.str.replace("VICTIMA", "Victima")
data_vic.columns = data_vic.columns.str.replace("SEXO", "Sexo")
data_vic.columns = data_vic.columns.str.replace("EDAD", "Edad")
data_vic.columns = data_vic.columns.str.replace("FECHA_FALLECIMIENTO", "Fecha_fallec")

In [6]:
# Guardar el df en formato CSV para proceder al EDA:
data_vic.to_csv('Vict02.csv', index=False)